# Dependabot will run on day 23 of each month at 03:00 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "0 3 23 * *"
    open-pull-requests-limit: 15
    assignees:
      - "oelison"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "0 3 23 * *"
    open-pull-requests-limit: 15
    assignees:
      - "oelison"
